In [1]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy
import sklearn
from scipy import stats
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA


%config InteractiveShell.ast_node_interactivity = 'all'

In [2]:
data_file = r"C:\Users\kkaus\OneDrive - HKUST Connect\Courses\Year 3\COMP 4331\Coding Folder\Fun Folder\Saumya\daylio_export_2021_10_23.csv"
data_df = pd.read_csv(data_file, sep=',')
data_df
data_df.shape

,full_date,date,weekday,time,mood,activities,note_title,note
0,2021-10-23,23 Oct,Saturday,12:00 AM,good,family | friends | movies & tv | no soda | dri...,NaN,NaN
1,2021-10-22,22 Oct,Friday,5:09 AM,good,friends | date | movies & tv | fast food | dri...,NaN,NaN
2,2021-10-21,21 Oct,Thursday,12:00 AM,meh,friends | date | movies & tv | drink water | s...,NaN,NaN
3,2021-10-20,20 Oct,Wednesday,12:00 AM,meh,family | friends | date | movies & tv | no swe...,NaN,NaN
4,2021-10-19,19 Oct,Tuesday,12:00 AM,meh,family | friends | movies & tv | drink water |...,NaN,NaN
5,2021-10-18,18 Oct,Monday,12:00 AM,good,friends | date | movies & tv | bad sleep | res...,NaN,NaN
6,2021-10-16,16 Oct,Saturday,5:41 PM,sad,friends | fast food | drink water | studying,NaN,NaN
7,2021-10-15,15 Oct,Friday,12:01 AM,good,friends | date | movies & tv | gaming | restau...,NaN,NaN
8,2021-10-15,15 Oct,Friday,12:00 AM,good,friends | date | restaurant | drink water | wa...,NaN,NaN
9,2021-10-14,14 Oct,Thursday,12:00 AM,good,family | friends | date | movies & tv | fast f...,NaN,NaN
10,2021-10-13,13 Oct,Wednesday,12:00 AM,good,friends | date | movies & tv | exercise | stud...,NaN,NaN
11,2021-10-12,12 Oct,Tuesday,12:00 AM,good,friends | fast food | drink water | studying,NaN,NaN
12,2021-10-11,11 Oct,Monday,12:00 PM,good,date | drink water | studying,NaN,NaN
13,2021-10-11,11 Oct,Monday,2:27 AM,good,family | friends | restaurant | studying,NaN,NaN
14,2021-10-10,10 Oct,Sunday,12:43 AM,sad,family,NaN,Refer to previous entry
15,2021-10-10,10 Oct,Sunday,12:00 AM,good,family | date | movies & tv | fast food | cook...,NaN,Went over to Kaustubhâ€™s room today morning. Ty...
16,2021-10-09,9 Oct,Saturday,12:47 AM,sad,family,NaN,Mom took a lot of sleeping pills. I feel respo...
17,2021-10-09,9 Oct,Saturday,12:46 AM,good,date,NaN,"Date was really fun; black storm warning, got ..."
18,2021-10-08,8 Oct,Friday,8:02 PM,annoyed,date,NaN,Kaustubh is always late. Makes me feel like he...
19,2021-10-07,7 Oct,Thursday,2:19 AM,sad,movies & tv,NaN,Feeling sad - was watching modern family. Ther...
20,2021-10-06,6 Oct,Wednesday,9:31 PM,annoyed,NaN,NaN,Annoyed because Kaustubh is late once again. T...
21,2021-10-06,6 Oct,Wednesday,12:07 PM,meh,studying,NaN,NaN
22,2021-10-06,6 Oct,Wednesday,3:18 AM,sad,date,NaN,"Kaustubh wants Srijan to teach him python, not..."

(23, 8)

In [3]:
# data_df = data_df.drop(labels="note_title", axis=1)
# data_df = data_df.drop(labels="note", axis=1)

In [5]:
data_df["family"] = data_df["activities"]

In [6]:
a = 0
b = data_df["activities"][1].find("|")

In [7]:
data_df["activities"][1][a:b-1]

'friends'

In [8]:
data_df["activities"][1]

'friends | date | movies & tv | fast food | drink water | studying'

In [9]:
data_df["activities"][1][b+1:]

' date | movies & tv | fast food | drink water | studying'

In [10]:
data_df["activities"][1]

'friends | date | movies & tv | fast food | drink water | studying'

In [11]:
rows = data_df.shape[0]

In [12]:
b = 0
x = 0
activites = []
while x == 12:
    b = data_df["activities"][1].find("|")
    activites.append(data_df["activities"][1][:b-1])
    x = x+1

activites

[]

In [13]:
activites.append(data_df["activities"][1][a:b-1])

In [14]:
print(activites)

['friends | date | movies & tv | fast food | drink water | studyin']